@model IEnumerable<GNBSys.GerenciaDespesas.Application.ViewModels.TipoDespesaViewModel>

@{
    ViewData["Title"] = "Index";
}
<div class="tabela">
    <div class="container">
        <h4>Tipo de Despesas Cadastradas</h4>
        <div>
            <p class="btnNovo">
                <a cla="btn btn-outline-primary-sm" asp-action="Create">Novo Tipo Despesa</a>
            </p>
        </div>
        <table class="table table-hover table-responsive-sm">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.TipoDespesaId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.TipoDespesaId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.TipoDespesaId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>